@import "../../../../sass/base.scss";
.experience,
experience {
    .ng-hide {
        opacity: 0;
    }
    .ng-hide-remove {
        transition: 200ms all ease-in;
    }
    >.wrapper {
        padding-left: 30px;
        padding-right: 30px;
        .content {
            .total-experience {
                .wrapper {
                    .collapsible-body {
                        padding: 1.4rem;
                    }
                }
            }
            .card {
                z-index: 1;
                &:hover {
                    cursor: pointer;
                }
                .card-image {
                    .card-title {
                        width: 100%;
                        opacity: .7;
                        margin-bottom: 36px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                    .btn-floating {
                        float: right;
                        position: absolute;
                        bottom: -19px;
                        right: 30px;
                    }
                }
            }
            &.open {
                .total-experience {
                    opacity: 1;
                    .wrapper {
                        display: block;
                        z-index: 2;
                        transition: opacity 600ms ease-in;
                    }
                }
                .card {
                    z-index: 3;
                }
            }
        }
    }
}