@import "../../../sass/base.scss";

header,.header,[header]{
    .cv-main-header{
        position:relative;
    }

    .header__first-section{
        h1{
            font-family: 'Oswald', sans-serif;
            letter-spacing: -.3rem;
            font-size: 5rem;
            line-height: 1em;
            margin-bottom: -15px;
            margin-left: 18px;
            margin-top: 0;
            small{
                font-family:'Unica One';
                letter-spacing:-.3rem;
                font-size:5rem;
            }
        }
    }

    .header__third-section{
        h1{
            letter-spacing:-1.6rem;
            font-weight:bold;
            font-size:10rem;
            line-height:6rem;
        }
        h2{
            letter-spacing: 0.01rem;
            font-size: 1.6rem;
            line-height: 0px;
            padding-left: 4.5rem;
        }

       &__sparks{
         //  height:400px;
       }

       &__brand{
           height:400px;
           width:100%;
       }
    }

    h2{
        letter-spacing:0.04em;
        font-size:1em;
        line-height:0px;
        padding-left:0.2em;
    }

  

}