<div class="row">
    <div class="col s12">
        <h5 class="center fp-text weight-300">
            CV
            <small>
            <a href="#">
              <i class="mdi mdi-file-pdf-box"></i>
            </a> | 
            <a href="#">
              <i class="mdi mdi-file-document-box"></i>
            </a> |
            <a href="#"> 
              <i class="mdi mdi-linkedin-box"></i>
            </a>
          </small>
            </h4>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <experience></experience>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <technology></technology>
    </div>
</div>