body {

	background-color:$gray !important;
//	background: radial-gradient(circle, white, #f0f0f0);
	
	@include default-text-color($black);
	font-size:1.2rem;

}

* {
	box-sizing: border-box;
}

h1,h2{
	transition: all 1s ease-in-out !important;
}
h1{

	font-size:1.7em; small{
		//color:$gray;
		font-size:2.5rem;

	}
}

a{
	color:$red;
	&:hover,&:focus{
		text-decoration: none; }

}

input{
	font-size:1rem;
}

hr{
	width:60%;
}