@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300|Open+Sans+Condensed:300,700|Droid+Sans:400,700|Anton);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Passion+One|Russo+One|Economica|Nobile|Jura|Viga|Julius+Sans+One|Megrim|Unica+One|Gruppo|Wire+One);

$title-font:'Oswald', sans-serif;

$test-font1: 'Open Sans Condensed', sans-serif;

$test-font2: 'Droid Sans', sans-serif;

$test-font3: 'Anton', sans-serif;


$test-font4: 'Ubuntu Condensed', sans-serif; //-

$test-fonte: 'Unica One', cursive;



$test-fontt: 'Wire One', sans-serif;




//colors
$red:#a94946;
$black:#000000;
$white:#FFFFFF;
$porcelain: #F6F8F9;
$bright-red: #b30015;
$dark-blue: #2a00b3;
$deep-cerulean: #0077b3;
$bondi-blue: #00b0b3;
$heliotrope: #8a7dff;
$silver-chalice: #a6a6a6;
$scorpion: #595959;
$tundora: #444;
$mine-shaft: #363636;
$gray-medium: #AEAEAE;
$gray:#BEBEBE;
$gray-light:#E3E3E3;


$default-text-color: $mine-shaft !default;

